.user-form{
  form{
    display: flex;
    div{
      input{
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;

        &:focus {
          outline: none;
          border-color: #465769; 
        }
      }
    }
    button{
      margin-right: 10dvw;
      margin-left: 2dvw;
      padding: 10px 20px;
      background-color: #e2e9f0; 
      color: #5c5b5b;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #8ea5bd; 
        color: #111111;
      }
    }
  }
}