.app{
  .heading{
    height: 7dvh;
    width: 100%;
    background: #EEEEEE;
    h1{
      color: #76ABAE;
      text-align: center;
      padding: 5px;
    }
  }
  .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form{
      
    }
    .info{
  
    }
  }
}